.container {
  margin: auto;
  border: 2px solid black;
  border-radius: 15px;
  width: 30%;
  padding: 15px;
}

.header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.content {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 18px;
}

.log {
  display: flex;
  align-items: center;
  margin: auto;
  width: 15em;
}

.btn {
  margin: 10px;
  font-size: 16px;
}

.container-rg {
  margin: auto;
  margin-top: 5%;
  /* border: 2px solid black; */
  border-radius: 15px;
  width: 50%;
  height: 75vh;
  padding: 10px;
  background-color: #caf7e3;
  transition: all 250ms ease-in-out;
  outline: none;
  /* box-shadow: 10px 10px 10px 3.8px #e4bad4; */
}

.content-rg {
  margin: auto;
  padding: 10px;
  width: 90%;
}

.form-rg {
  height: 40vh;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.row {
  height: 35%;
  width: 35rem;
  margin: auto;
  justify-content: center;
}

::placeholder {
  width: 100%;
  padding: 10px;
}

input {
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 10px 5px 0;
  padding: 5px;
  background-color: white;
  border: 0;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
  outline: none;
  box-shadow: 0px 0px 0px 3.8px #e4bad4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-rg {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #e285bf;
  border: #e285bf 0.125em solid;
  border-radius: 15px;
  padding: 0.25em 1em;

  /* border-radius: 00.25em;
  text-shadow: 0 0 0.125em hsl(0, 0%, 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 #e285bf, 0 0 0.5em 0 #e285bf; */
}

.UploadForm input,
button {
  /* margin: 10px; */
  width: 175px;
  height: 30px;
  font-size: 12px;
}

@media only screen and (max-width: 950px) {
  container-rg {
    padding-left: 10px;
    padding-right: 10px;
  }
  .content-rg {
    max-width: 400px;
  }
}

@media only screen and (max-width: 949px) {
  .container-rg {
    margin: auto;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  .form-rg {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  .row {
    display: flex;

    align-items: center;
    width: 140px;
  }
}

@media only screen and (max-width: 576px) {
  .container-rg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-content: center;
  }

  .form-rg {
    width: 100%;
    margin-left: 70px;
    /* display: flex;
    justify-self: center;
    align-items: center; */
    /* max-width: 160px; */
  }
}
